@charset "UTF-8";

body {
    margin: 0;
    padding: 0;

}


#img2 {
    height: 1080px;
    max-width: 500px;
    background-image: url("803f1b72-fd0a-4dfe-a11b-d43198b001d5.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: auto;
}
